body{
 background-color: rgb(38, 171, 233);
}
.navbar1{
    background-color: #e78f2b;
    text-align: center;
    display: block;
    padding-left: 10px;
    border-radius: 5px;
}
.navbar1 a{
    text-decoration: none;
    font-size: 50px;
    font-family: cursive;
    margin: 0;
    padding: 5%;
    color: white;
}
.navbar1 a:hover{
    color: yellow;
}
.logo img{
    padding: 3%;
    height: 350px;
    float: left;
}
.mission h1{
    font-size: 100px;
}
.mission p,ol{
    font-size: 25px;
}
.vision h1{
    font-size: 100px;
    margin-left: 26%;
}
.vision p{
    font-size: 25px;
    margin-left: 26%;
}
.vision h2{
    font-size: 50px;
    margin-left: 26%;
}
.church h1{
    margin-left: 26%;
    margin-top: 10%;
}
.church ul li{
    list-style-type: none;
}
.church ul li a{
    text-decoration: none;
    margin-left: 26%;
    color: yellow;
    font-size: 25px;
}
.church ul li a:hover{
    color: red;
}
.gallery img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 600px;
    border: solid yellow;
    border-radius: 20px;
}